<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>遥感产品数据云</title>
<link rel="stylesheet" href="/css/styles.css">
<script src="https://webapi.amap.com/maps?v=1.4.15&key=b6ba147ffd1e49158d12f7cb16d0f381"></script>
<!-- 引入登录包casdoor -->
<script type="module">
  //Import from cdn(you can choose the appropriate cdn source according to your needs), or just from the local(download the casdoor-js-sdk first)
  import SDK from 'https://unpkg.com/casdoor-js-sdk@0.10.0/lib/esm/sdk.js'
  const sdkConfig = {
    serverUrl: "https://login.landcover100.com",
    clientId: "2ad095dec6ed461cdf87",
    organizationName: "RuiduobaoOrganization",
    appName: "LandCover100APP",
    redirectPath: "/", // in accordance with casdoor configuration
  }
  window.sdk = new SDK(sdkConfig)
</script>

</head>
<body>

<div id="top_DIV">
    <!-- 注册登录界面 -->
    <div class="logo"><img src="/img/logo.png" alt="Logo"></div>
    <div class="title-container">
        <h1>遥感产品数据云</h1>
    </div>
    <div class="top_DIV_nav">
      <div style="display: flex;align-items: center; justify-content: center;">
        <button class="hidden" id="info_url" style="width: 50px;height: 30px;border: none;" onclick="gotoUserPage()">我的</button>
        <button class="hidden" id="signOut" style="width: 50px;height: 30px;border: none;">退出</button>
        <button class="show" id="signIn" style="width: 50px;height: 30px;border: none;">登录</button>
        <button class="show" id="USE_note" style="width: 80px;height: 30px;border: none;" onclick="gotoUserWebPage()">使用须知</button>
      </div>
    </div>

</div>

<div class="clearfix" id="container">
    <div id="left_DIV">
        <!-- 左侧边栏内容，比如链接或菜单项 -->
        <h3>数据选择</h3>
        <div class="directory-tree">
           <ul>
            <!-- 土地覆盖数据 1.0 -->
            <li>
              <span class="toggle">土地覆盖数据</span>
              <ul class="hidden">
                <!-- 土地覆盖数据 1.1 -->
                <li class="item">
                  <span class="toggle">低分辨率土地覆盖数据</span> 
                  <ul class="hidden">
                        <li>
                          <span class="toggle">MODIS土地覆盖</span> 
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                          <ul class="hidden">
                            <li class="item">
                              <input type="radio" name="menu_choice" id="modis2020"><label for="modis2020" class="toggle_label"><span class="toggle">2020年</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="modis2020" onclick="toggleImageBorder(this,this.id)"/></a>
                            </li>
                            <li class="item">
                              <input type="radio" name="menu_choice" id="modis2019"><label for="modis2019" class="toggle_label"><span class="toggle">2019年</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="modis2019" onclick="toggleImageBorder(this,this.id)"/></a>
                            </li>
                          </ul>
                        </li>
        
                        <li>
                          <span class="toggle">IGBP土地覆盖</span> 
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                          <ul class="hidden">
                            <li class="item">
                              <input type="radio" name="menu_choice" id="IGBP2010"><label for="IGBP2010" class="toggle_label"><span class="toggle">2015年</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="IGBP2010" onclick="toggleImageBorder(this,this.id)"/></a>
                            </li>
                            <li class="item">
                              <input type="radio" name="menu_choice" id="IGBP2005"><label for="IGBP2005" class="toggle_label"><span class="toggle">2010年</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="IGBP2005" onclick="toggleImageBorder(this,this.id)"/></a>
                            </li>
                          </ul>
                        </li>
        
                  </ul>
                </li>
        
                <li class="item">
                  <span class="toggle">中分辨率土地覆盖数据</span> 
                  <ul class="hidden">
                  <!-- GLC30土地覆盖 1.2.1 -->
                    <li>
                      <span class="toggle">GLC30土地覆盖</span> 
                      <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#" /></a>
                      <ul class="hidden">
                        <li class="item">
                          <input type="radio" name="menu_choice" id="GLC30_2000"><label for="GLC30_2000" class="toggle_label"><span class="toggle">2000年</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="GLC30_2000" onclick="toggleImageBorder(this,this.id)"/></a>
                        </li>
                        <li class="item">
                          <input type="radio" name="menu_choice" id="GLC30_2010"><label for="GLC30_2010" class="toggle_label"><span class="toggle">2010年</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="GLC30_2010" onclick="toggleImageBorder(this,this.id)"/></a>

                        </li>
                      </ul>
                      
                    </li>
                   <!-- CLCD土地覆盖 1.2.2 -->
                    <li>
                      <span class="toggle">CLCD土地覆盖</span> 
                      <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                      <ul class="hidden">
                        <li class="item">
                          <input type="radio" name="menu_choice" id="CLCD1985"><label for="CLCD1985" class="toggle_label"><span class="toggle">1985年</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="CLCD1985" onclick="toggleImageBorder(this,this.id)"/></a>

                        </li>
                        <li class="item">
                          <input type="radio" name="menu_choice" id="CLCD1990"><label for="CLCD1990" class="toggle_label"><span class="toggle">1990年</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="CLCD1990" onclick="toggleImageBorder(this,this.id)"/></a>
                        </li>
                      </ul>
                    </li>
                  
                  </ul>
                </li>
        
                <li>
                  <span class="toggle">高分辨率土地覆盖数据</span> 
                  <ul class="hidden">
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM5004"><label for="DEM5004" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM5003"><label for="DEM5003" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                        <li>
                          <span class="toggle">中分辨率DEM</span> 
                          <ul class="hidden">
                            <li class="item">
                              <input type="radio" name="menu_choice" id="DEM5002"><label for="DEM5002" class="toggle_label"><span class="toggle">NASA_DEM_30m</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" onclick="toggleImageBorder(this,this.id)"/></a>
                              <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                            </li>
                            <li class="item">
                              <input type="radio" name="menu_choice" id="DEM5001"><label for="DEM5001" class="toggle_label"><span class="toggle">ALOS_30m</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" onclick="toggleImageBorder(this,this.id)"/></a>
                              <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#" /></a>
                            </li>
                          </ul>
                        </li>
                   </ul>
                </li>
                </ul>
            </li>
            <!-- 数字高程数据 2.0 -->
            <li>
              <span class="toggle">DEM高程数据</span>
              <ul class="hidden">
                <!-- 低分辨率DEM数据 2.1 -->
                <li class="item">
                  <span class="toggle">低分辨率DEM数据</span> 
                  <ul class="hidden">
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM250"><label for="DEM250" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM250" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM1000"><label for="DEM1000" class="toggle_label"><span class="toggle">1000米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM1000" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                  </ul>
                </li>
        
                <li class="item">
                  <span class="toggle">中分辨率DEM数据</span> 
                  <ul class="hidden">
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM5004"><label for="DEM5004" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM5003"><label for="DEM5003" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                        <li>
                          <span class="toggle">中分辨率DEM</span> 
                          <ul class="hidden">
                            <li class="item">
                              <input type="radio" name="menu_choice" id="DEM5002"><label for="DEM5002" class="toggle_label"><span class="toggle">NASA_DEM_30m</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" onclick="toggleImageBorder(this,this.id)"/></a>
                              <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                            </li>
                            <li class="item">
                              <input type="radio" name="menu_choice" id="DEM5001"><label for="DEM5001" class="toggle_label"><span class="toggle">ALOS_30m</span></label>
                              <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM5001" onclick="toggleImageBorder(this,this.id)"/></a>
                              <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#" /></a>
                            </li>
                          </ul>
                        </li>
                  </ul>
                </li>
        
                <li>
                  <span class="toggle">高分辨率DEM数据</span> 
                  <ul class="hidden">
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM5004"><label for="DEM5004" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM250m" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM250m"><label for="DEM250m" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM250m" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                        </li>
                              <li>
                                <span class="toggle">中分辨率DEM</span> 
                                <ul class="hidden">
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="NASA_DEM_30m"><label for="NASA_DEM_30m" class="toggle_label"><span class="toggle">NASA_DEM_30m</span></label>
                                    <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="NASA_DEM_30m" onclick="toggleImageBorder(this,this.id)"/></a>
                                    <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#"/></a>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="ALOS_30m"><label for="ALOS_30m" class="toggle_label"><span class="toggle">ALOS_30m</span></label>
                                    <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="ALOS_30m" onclick="toggleImageBorder(this,this.id)"/></a>
                                    <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" herf="#" /></a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                </ul>
            </li>
          </ul>
        </div>
        <!-- 矢量选择 -->
        <h3>位置选择:</h3>
        
        <div id="selector-container" style="display: flex;">
            <select id="data_type_select"  onchange="handleSelectChange()">
                <option value="type1">按行政区划</option>
                <option value="type2">本地上传</option>
                <option value="type3">在线勾画</option>
            </select>
            <!-- 省级、地级、县级选择框，默认不显示 -->
            <div id="administrative-select-container" style="display: none;">
                <label>请选择省级：
                    <select id="province_select">
                        <!-- 省级选项 -->
                    </select>
                </label>
                <label>请选择地级：
                    <select id="city_select">
                        <!-- 地级选项 -->
                    </select>
                </label>
                <label>请选择县级：
                    <select id="county_select">
                        <!-- 县级选项 -->
                    </select>
                </label>
                <label>请选择乡级：
                    <select id="xiang_select">
                        <!-- 乡级选项 -->
                    </select>
                </label>
            </div>
            <!-- 用于上传文件的 div 框 -->
            <div id="file-upload-container" >
                <span>请上传矢量文件（支持上传shp、geojson和kml格式）</span>
            </div>

            <!-- 在线画矢量的框 -->
            <div id="drawIcons" style="display: none;">
                <span>矩形</span>
                <img id="drawIcon_rect" src="/img/rect.png" style="cursor: pointer;" onclick="drawRectangle()" />
                
                <span>多边形</span>
                <img id="drawIcon_polygon" src="/img/polygon.png" style="cursor: pointer;" onclick="drawPolygon()" />
                
                <span>圆</span>
                <img id="drawIcon_circle" src="/img/circle.png" style="cursor: pointer;" onclick="drawCircle()" />
            </div>
        </div>
        <h3>查询数据</h3>
          <button onclick="publish_Raster()">查询</button>
        <div id="DOWNLOAD_DIV" style="display: none;">
          <h3>数据裁剪完毕，请下载:</h3>
          <button onclick="Download_Clip_raster()">下载</button>
        </div>
    </div>
    <div id="right_DIV">
        <div id="mapContainer" style="flex: 1; position: relative; z-index: 1000;">

            <!-- 地图图层切换的下拉框，悬浮在左下角 -->
            <div style="position: absolute; bottom: 10px; right: 10px; z-index: 1000;">
                <label for="mapLayer">底图:</label>
                <select id="mapLayer" onchange="switchMapLayer()">
                    <option value="star_map">星图地球</option>
                    <option value="satellite" selected>高德遥感卫星</option>
                    <option value="satellite_road">高德卫星和路网</option>
                    <option value="basic">高德标准图层</option>
                </select>
            </div>                
        </div>
    </div>
</div>


<!-- 底图加载 -->
<script src="/js/BaseMap.js"></script>
<!-- 显示面矢量 -->
<script src="/js/add_vector2map.js"></script>
<!-- 地区选择省市县 -->
<script src="/js/select_shengshixian.js"></script>
<!-- 在地图上绘制图形 -->
<script src="/js/drawingTool.js"></script>
<!-- 上传裁剪矢量函数 -->
<script src="/js/file_upload.js"></script>
<!-- 裁剪与发布栅格数据 -->
<script src="/js/publish_raster.js"></script>
<!-- 下载裁剪后的栅格函数 -->
<script src="/js/download_clipdata.js"></script>
<!-- 引入二三级菜单的折叠脚本js -->
<script src="/js/Menu_Fold_loadwmts.js"></script>
<!-- 单选数据的控制 -->
<script src="/js/Single_choice_data.js"></script>
<!-- casdoor注册登录控制 -->
<script src="/js/Casdoor_Login.js"></script>
<!-- 面积计算函数 -->
<script src="/js/CalArea.js"></script>
<!-- 时间重命名文件函数 -->
<script src="/js/RenameFilebyTime.js"></script>
<!-- 数据大小计算函数 -->
<script src="/js/CalStorage.js"></script>
<script>
</script>
</body>
</html>
