<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>遥感产品数据云</title>
<link rel="stylesheet" href="/css/styles.css">
<script src="https://webapi.amap.com/maps?v=1.4.15&key=b6ba147ffd1e49158d12f7cb16d0f381"></script>
<!-- 引入登录包casdoor -->
<script type="module">
  //Import from cdn(you can choose the appropriate cdn source according to your needs), or just from the local(download the casdoor-js-sdk first)
  import SDK from 'https://unpkg.com/casdoor-js-sdk@0.10.0/lib/esm/sdk.js'
  const sdkConfig = {
    serverUrl: "https://login.landcover100.com",
    clientId: "2ad095dec6ed461cdf87",
    organizationName: "RuiduobaoOrganization",
    appName: "LandCover100APP",
    redirectPath: "/", // in accordance with casdoor configuration
  }
  window.sdk = new SDK(sdkConfig)
</script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=b6ba147ffd1e49158d12f7cb16d0f381"></script>
<script src="/js/need_TO_EDIT.js"></script>
</head>
<body>

<div id="top_DIV">
    <!-- 注册登录界面 -->
    <div class="logo"><img src="/img/logo.png" alt="Logo"></div>
    <div class="title-container">
        <h1>遥感产品数据云</h1>
    </div>
    <div class="top_DIV_nav">
      <div style="display: flex;align-items: center; justify-content: center;">
        <button class="hidden" id="info_url" style="width: 50px;height: 30px;border: none;" onclick="gotoUserPage()">我的</button>
        <button class="hidden" id="signOut" style="width: 50px;height: 30px;border: none;">退出</button>
        <button class="show" id="signIn" style="width: 50px;height: 30px;border: none;">登录</button>
        <button class="show" id="USE_note" style="width: 80px;height: 30px;border: none;" onclick="gotoUserWebPage()">使用须知</button>
      </div>
    </div>

</div>

<div class="clearfix" id="container">
    <div id="left_DIV">
        <!-- 左侧边栏内容，比如链接或菜单项 -->
        <h3>数据选择</h3>
        <div class="directory-tree">
           <ul>
            <!-- 土地覆盖数据 1.0 -->
            <li>
              <span class="toggle">土地覆盖数据</span>
              <ul class="hidden">
                <!-- 低分辨率土地覆盖数据 1.1 -->
                <li class="item">
                  <span class="toggle">低分辨率土地覆盖数据</span> 
                  <ul class="hidden">
                        <li>
                          <!-- 低分辨率modis土地覆盖数据 1.1.1 -->
                          <span class="toggle">MODIS土地覆盖</span> 
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="MODIS_Landcover" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://zhuanlan.zhihu.com/p/619527268" title="数据说明"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                          <ul class="hidden">
                            <li class="item">
                              <input type="radio" name="menu_choice" id="modis2001"><label for="modis2001" class="toggle_label"><span class="toggle">2001年</span></label>
                            </li>
                            <li class="item">
                              <input type="radio" name="menu_choice" id="modis2002"><label for="modis2002" class="toggle_label"><span class="toggle">2002年</span></label>
                            </li>
                            <li class="item">
                              <input type="radio" name="menu_choice" id="modis2003"><label for="modis2003" class="toggle_label"><span class="toggle">2003年</span></label>
                            </li>
                            <li class="item">
                              <input type="radio" name="menu_choice" id="modis2004"><label for="modis2004" class="toggle_label"><span class="toggle">2004年</span></label>
                            </li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2005"><label for="modis2005" class="toggle_label"><span class="toggle">2005年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2006"><label for="modis2006" class="toggle_label"><span class="toggle">2006年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2007"><label for="modis2007" class="toggle_label"><span class="toggle">2007年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2008"><label for="modis2008" class="toggle_label"><span class="toggle">2008年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2009"><label for="modis2009" class="toggle_label"><span class="toggle">2009年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2010"><label for="modis2010" class="toggle_label"><span class="toggle">2010年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2011"><label for="modis2011" class="toggle_label"><span class="toggle">2011年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2012"><label for="modis2012" class="toggle_label"><span class="toggle">2012年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2013"><label for="modis2013" class="toggle_label"><span class="toggle">2013年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2014"><label for="modis2014" class="toggle_label"><span class="toggle">2014年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2015"><label for="modis2015" class="toggle_label"><span class="toggle">2015年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2016"><label for="modis2016" class="toggle_label"><span class="toggle">2016年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2017"><label for="modis2017" class="toggle_label"><span class="toggle">2017年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2018"><label for="modis2018" class="toggle_label"><span class="toggle">2018年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2019"><label for="modis2019" class="toggle_label"><span class="toggle">2019年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="modis2020"><label for="modis2020" class="toggle_label"><span class="toggle">2020年</span></label></li>
                          </ul>
                        </li>
        
                        <li>
                          <!-- 低分辨率ESA_CCI土地覆盖数据 1.1.2 -->
                          <span class="toggle">ESA_CCI_300米土地覆盖</span> 
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="ESA_CCI" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://www.esa-landcover-cci.org/" title="数据说明"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                          <ul class="hidden">
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1992"><label for="ESA_CCI_1992" class="toggle_label"><span class="toggle">1992年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1993"><label for="ESA_CCI_1993" class="toggle_label"><span class="toggle">1993年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1994"><label for="ESA_CCI_1994" class="toggle_label"><span class="toggle">1994年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1995"><label for="ESA_CCI_1995" class="toggle_label"><span class="toggle">1995年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1996"><label for="ESA_CCI_1996" class="toggle_label"><span class="toggle">1996年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1997"><label for="ESA_CCI_1997" class="toggle_label"><span class="toggle">1997年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1998"><label for="ESA_CCI_1998" class="toggle_label"><span class="toggle">1998年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_1999"><label for="ESA_CCI_1999" class="toggle_label"><span class="toggle">1999年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2000"><label for="ESA_CCI_2000" class="toggle_label"><span class="toggle">2000年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2001"><label for="ESA_CCI_2001" class="toggle_label"><span class="toggle">2001年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2002"><label for="ESA_CCI_2002" class="toggle_label"><span class="toggle">2002年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2003"><label for="ESA_CCI_2003" class="toggle_label"><span class="toggle">2003年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2004"><label for="ESA_CCI_2004" class="toggle_label"><span class="toggle">2004年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2005"><label for="ESA_CCI_2005" class="toggle_label"><span class="toggle">2005年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2006"><label for="ESA_CCI_2006" class="toggle_label"><span class="toggle">2006年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2007"><label for="ESA_CCI_2007" class="toggle_label"><span class="toggle">2007年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2008"><label for="ESA_CCI_2008" class="toggle_label"><span class="toggle">2008年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2009"><label for="ESA_CCI_2009" class="toggle_label"><span class="toggle">2009年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2010"><label for="ESA_CCI_2010" class="toggle_label"><span class="toggle">2010年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2011"><label for="ESA_CCI_2011" class="toggle_label"><span class="toggle">2011年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2012"><label for="ESA_CCI_2012" class="toggle_label"><span class="toggle">2012年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2013"><label for="ESA_CCI_2013" class="toggle_label"><span class="toggle">2013年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2014"><label for="ESA_CCI_2014" class="toggle_label"><span class="toggle">2014年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2015"><label for="ESA_CCI_2015" class="toggle_label"><span class="toggle">2015年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2016"><label for="ESA_CCI_2016" class="toggle_label"><span class="toggle">2016年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2017"><label for="ESA_CCI_2017" class="toggle_label"><span class="toggle">2017年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2018"><label for="ESA_CCI_2018" class="toggle_label"><span class="toggle">2018年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2019"><label for="ESA_CCI_2019" class="toggle_label"><span class="toggle">2019年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_CCI_2020"><label for="ESA_CCI_2020" class="toggle_label"><span class="toggle">2020年</span></label></li>
                          </ul>
                        </li>

                        <li>
                          <!-- 低分辨率GEZE土地覆盖数据 1.1.3 -->
                          <span class="toggle">GEZE_9km土地覆盖</span> 

                          <a href="https://gaez.fao.org/" title="数据说明"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="GAZE_2010_tosee" onclick="toggleImageBorder(this,this.id)"/></a>
                          <ul class="hidden">
                            <li class="item"><input type="radio" name="menu_choice" id="GAZE_2010"><label for="GAZE_2010" class="toggle_label"><span class="toggle">GAZE_v4_2010年</span></label></li>

                          </ul>
                        </li>
                        <li>
                          <!-- 低分辨率GLCNMO土地覆盖数据 1.1.4 -->
                          <span class="toggle">GLCNMO土地覆盖</span> 

                          <a href="https://globalmaps.github.io/glcnmo.html/" title="数据说明"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="GLCNMO_tosee" onclick="toggleImageBorder(this,this.id)"/></a>
                          <ul class="hidden">
                            <li class="item"><input type="radio" name="menu_choice" id="GLCNMO"><label for="GLCNMO" class="toggle_label"><span class="toggle">GLCNMO_V3_2013年</span></label></li>

                          </ul>
                        </li>
        
                  </ul>
                </li>
               <!-- 中分辨率土地覆盖数据 1.2 -->
                <li class="item">
                  <span class="toggle">中分辨率土地覆盖数据</span> 
                  <ul class="hidden">
                  <!-- AGLC土地覆盖 1.2.1 -->
                  <li>
                    <span class="toggle">AGLC_30米土地覆盖_30m</span> 
                    <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="AGLC" onclick="toggleImageBorder(this,this.id)"/></a>
                    <a href="http://www.jors.cn/jrs/ch/reader/view_abstract.aspx?file_no=202109002&flag=1" title="数据说明"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#" /></a>
                    <ul class="hidden">
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2000"><label for="AGLC_2000" class="toggle_label"><span class="toggle">2000年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2001"><label for="AGLC_2001" class="toggle_label"><span class="toggle">2001年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2002"><label for="AGLC_2002" class="toggle_label"><span class="toggle">2002年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2003"><label for="AGLC_2003" class="toggle_label"><span class="toggle">2003年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2004"><label for="AGLC_2004" class="toggle_label"><span class="toggle">2004年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2005"><label for="AGLC_2005" class="toggle_label"><span class="toggle">2005年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2006"><label for="AGLC_2006" class="toggle_label"><span class="toggle">2006年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2007"><label for="AGLC_2007" class="toggle_label"><span class="toggle">2007年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2008"><label for="AGLC_2008" class="toggle_label"><span class="toggle">2008年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2009"><label for="AGLC_2009" class="toggle_label"><span class="toggle">2009年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2010"><label for="AGLC_2010" class="toggle_label"><span class="toggle">2010年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2011"><label for="AGLC_2011" class="toggle_label"><span class="toggle">2011年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2012"><label for="AGLC_2012" class="toggle_label"><span class="toggle">2012年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2013"><label for="AGLC_2013" class="toggle_label"><span class="toggle">2013年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="AGLC_2014"><label for="AGLC_2014" class="toggle_label"><span class="toggle">2014年</span></label></li>
                    </ul>
                    
                  </li>
                  <!-- GLC30土地覆盖 1.2.2-->
                    <li>
                      <span class="toggle">GLC30_30米土地覆盖</span> 
                      <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="GLC30" onclick="toggleImageBorder(this,this.id)"/></a>
                      <a href="https://csidotinfo.wordpress.com/2014/11/04/globeland30-glc30/" title="GLC30_30米分辨率"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#" /></a>
                      <ul class="hidden">
                        <li class="item"><input type="radio" name="menu_choice" id="GLC30_2000"><label for="GLC30_2000" class="toggle_label"><span class="toggle">2000年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="GLC30_2010"><label for="GLC30_2010" class="toggle_label"><span class="toggle">2010年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="GLC30_2020"><label for="GLC30_2020" class="toggle_label"><span class="toggle">2020年</span></label></li>
                      </ul>
                      
                    </li>
                   <!-- CLCD土地覆盖 1.2.3 -->
                    <li>
                      <span class="toggle">CLCD_30米土地覆盖</span> 
                      <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="CLCD" onclick="toggleImageBorder(this,this.id)"/></a>
                      <a href="https://essd.copernicus.org/articles/13/3907/2021/" title="clcd_30米分辨率"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#" /></a>
                      <ul class="hidden">
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1985"><label for="CLCD_1985" class="toggle_label"><span class="toggle">1985年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1990"><label for="CLCD_1990" class="toggle_label"><span class="toggle">1990年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1991"><label for="CLCD_1991" class="toggle_label"><span class="toggle">1991年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1992"><label for="CLCD_1992" class="toggle_label"><span class="toggle">1992年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1993"><label for="CLCD_1993" class="toggle_label"><span class="toggle">1993年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1994"><label for="CLCD_1994" class="toggle_label"><span class="toggle">1994年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1995"><label for="CLCD_1995" class="toggle_label"><span class="toggle">1995年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1996"><label for="CLCD_1996" class="toggle_label"><span class="toggle">1996年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1997"><label for="CLCD_1997" class="toggle_label"><span class="toggle">1997年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1998"><label for="CLCD_1998" class="toggle_label"><span class="toggle">1998年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_1999"><label for="CLCD_1999" class="toggle_label"><span class="toggle">1999年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2000"><label for="CLCD_2000" class="toggle_label"><span class="toggle">2000年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2001"><label for="CLCD_2001" class="toggle_label"><span class="toggle">2001年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2002"><label for="CLCD_2002" class="toggle_label"><span class="toggle">2002年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2003"><label for="CLCD_2003" class="toggle_label"><span class="toggle">2003年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2004"><label for="CLCD_2004" class="toggle_label"><span class="toggle">2004年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2005"><label for="CLCD_2005" class="toggle_label"><span class="toggle">2005年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2006"><label for="CLCD_2006" class="toggle_label"><span class="toggle">2006年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2007"><label for="CLCD_2007" class="toggle_label"><span class="toggle">2007年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2008"><label for="CLCD_2008" class="toggle_label"><span class="toggle">2008年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2009"><label for="CLCD_2009" class="toggle_label"><span class="toggle">2009年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2010"><label for="CLCD_2010" class="toggle_label"><span class="toggle">2010年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2011"><label for="CLCD_2011" class="toggle_label"><span class="toggle">2011年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2012"><label for="CLCD_2012" class="toggle_label"><span class="toggle">2012年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2013"><label for="CLCD_2013" class="toggle_label"><span class="toggle">2013年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2014"><label for="CLCD_2014" class="toggle_label"><span class="toggle">2014年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2015"><label for="CLCD_2015" class="toggle_label"><span class="toggle">2015年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2016"><label for="CLCD_2016" class="toggle_label"><span class="toggle">2016年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2017"><label for="CLCD_2017" class="toggle_label"><span class="toggle">2017年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2018"><label for="CLCD_2018" class="toggle_label"><span class="toggle">2018年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2019"><label for="CLCD_2019" class="toggle_label"><span class="toggle">2019年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2020"><label for="CLCD_2020" class="toggle_label"><span class="toggle">2020年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2021"><label for="CLCD_2021" class="toggle_label"><span class="toggle">2021年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="CLCD_2022"><label for="CLCD_2022" class="toggle_label"><span class="toggle">2022年</span></label></li>
                      </ul>
                    </li>
                    <!-- GLC_FCS土地覆盖 1.2.4 -->
                    <li>
                    <span class="toggle">GLC_FCS_30米土地覆盖</span> 
                    <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="GLC_FCS" onclick="toggleImageBorder(this,this.id)"/></a>
                    <a href="https://essd.copernicus.org/preprints/essd-2020-182/essd-2020-182-manuscript-version5.pdf" title="clcd_30米分辨率"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#" /></a>
                    <ul class="hidden">
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_1985"><label for="GLC_FCS_1985" class="toggle_label"><span class="toggle">1985年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_1990"><label for="GLC_FCS_1990" class="toggle_label"><span class="toggle">1990年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_1995"><label for="GLC_FCS_1995" class="toggle_label"><span class="toggle">1995年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_2000"><label for="GLC_FCS_2000" class="toggle_label"><span class="toggle">2000年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_2005"><label for="GLC_FCS_2005" class="toggle_label"><span class="toggle">2005年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_2010"><label for="GLC_FCS_2010" class="toggle_label"><span class="toggle">2010年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_2015"><label for="GLC_FCS_2015" class="toggle_label"><span class="toggle">2015年</span></label></li>
                      <li class="item"><input type="radio" name="menu_choice" id="GLC_FCS_2020"><label for="GLC_FCS_2020" class="toggle_label"><span class="toggle">2020年</span></label></li>

                    </ul>
                    </li>
                    <!-- GLCLUC土地覆盖 1.2.5 -->
                    <li>
                      <span class="toggle">GLCLUC_30米土地覆盖</span> 
                      <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="GLCLUC" onclick="toggleImageBorder(this,this.id)"/></a>
                      <a href="https://glad.umd.edu/dataset/GLCLUC2020" title="GLCLUC_30米土地覆盖"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#" /></a>
                      <ul class="hidden">
                        <li class="item"><input type="radio" name="menu_choice" id="GLCLUC_2000"><label for="GLCLUC_2000" class="toggle_label"><span class="toggle">2000年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="GLCLUC_2010"><label for="GLCLUC_2010" class="toggle_label"><span class="toggle">2010年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="GLCLUC_2015"><label for="GLCLUC_2015" class="toggle_label"><span class="toggle">2015年</span></label></li>
                        <li class="item"><input type="radio" name="menu_choice" id="GLCLUC_2020"><label for="GLCLUC_2020" class="toggle_label"><span class="toggle">2020年</span></label></li>
                      </ul>
                      </li>
                  </ul>
                </li>

                <!-- 高分辨率土地覆盖数据 1.3-->
                <li class="item">
                  <span class="toggle">高分辨率土地覆盖数据</span> 
                  <ul class="hidden">
                        <li>
                          <!-- ESA_WorldCover_10m土地覆盖数据 1.3.1-->
                          <span class="toggle">ESA_WorldCover_10m</span> 
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="ESA" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://esa-worldcover.org/en" title="ESA_WorldCover_10m"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#" /></a>
                          <ul class="hidden">
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_2020"><label for="ESA_2020" class="toggle_label"><span class="toggle">2020年</span></label></li>
                            <li class="item"><input type="radio" name="menu_choice" id="ESA_2021"><label for="ESA_2021" class="toggle_label"><span class="toggle">2021年</span></label></li>                            
                          </ul>
                        </li>
                        <li>
                          <!-- FROM_LC_10m土地覆盖数据 1.3.2-->
                          <span class="toggle">FROM_LC_10m</span> 
                          <ul class="hidden">
                            <li class="item"><input type="radio" name="menu_choice" id="FROM_LC"><label for="FROM_LC" class="toggle_label"><span class="toggle">2017年</span></label></li>    
                            <a href="https://data-starcloud.pcl.ac.cn/zh/resource/1" title="FROM_LC"   target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#" /></a>                    
                          </ul>
                        </li>
                   </ul>
                </li>
                </ul>
            </li>
            <!-- 数字高程数据 2.0 -->
            <li>
              <span class="toggle">DEM高程数据</span>
              <ul class="hidden">
                <!-- 低分辨率DEM数据 2.1 -->
                <li class="item">
                  <span class="toggle">低分辨率DEM数据</span> 
                  <ul class="hidden">
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM250"><label for="DEM250" class="toggle_label"><span class="toggle">250米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM250" onclick="toggleImageBorder(this,this.id)"/></a>
                        </li>
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEM1000"><label for="DEM1000" class="toggle_label"><span class="toggle">1000米DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM1000" onclick="toggleImageBorder(this,this.id)"/></a>
                        </li>
                  </ul>
                </li>
                <!-- 中分辨率DEM数据 2.2 -->
                <li class="item">
                  <span class="toggle">中分辨率DEM数据</span> 
                  <ul class="hidden">
                        <!-- 中分辨率TAN_DEM数据 2.1.1 -->
                        <li class="item">
                          <input type="radio" name="menu_choice" id="DEMTANX"><label for="DEMTANX" class="toggle_label"><span class="toggle">DEM_TANX</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size"  id="DEMTANX" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://mp.weixin.qq.com/s/CFBYssYt7VIyrQTZRU2Mlw" title="数据说明"  target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                        </li>
                        <!-- 中分辨率Copernicus_DEM数据 2.1.2 -->
                        <li class="item">
                          <input type="radio" name="menu_choice" id="Copernicus_DEM"><label for="Copernicus_DEM" class="toggle_label"><span class="toggle">哥白尼DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="Copernicus_DEM" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://mp.weixin.qq.com/s/mShNKPcfbCh-SclSw52dXA" title="数据说明"  target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                        </li>
                        <!-- 中分辨率SRTM_V3_DEM数据 2.1.3 -->
                        <li class="item">
                          <input type="radio" name="menu_choice" id="SRTM_V3_DEM"><label for="SRTM_V3_DEM" class="toggle_label"><span class="toggle">SRTM_V3_DEM</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="SRTM_V3_DEM" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://www.earthdata.nasa.gov/news/nasa-shuttle-radar-topography-mission-srtm-version-3-0-global-1-arc-second-data-released-over-asia-and-australia" title="数据说明"  target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                        </li>
                        <!-- 中分辨率SRTM_V3_DEM数据 2.1.4 -->
                        <li class="item">
                          <input type="radio" name="menu_choice" id="ASTER_DEM"><label for="ASTER_DEM" class="toggle_label"><span class="toggle">ASTER_DEM_30m</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="ASTER_DEM" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://cmr.earthdata.nasa.gov/search/concepts/C1711961296-LPCLOUD.html" title="数据说明"  target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                        </li>
                        <!-- 中分辨率AW3D30_V4数据 2.1.5 -->
                        <li class="item">
                          <input type="radio" name="menu_choice" id="AW3D30_V4"><label for="AW3D30_V4" class="toggle_label"><span class="toggle">AW3D30_V4</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="AW3D30_V4" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://www.eorc.jaxa.jp/ALOS/en/dataset/aw3d30/data/aw3d30v4.0_product_e_1.0.pdf" title="数据说明"  target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                        </li>
                        <!-- 中分辨率NASA_DEM数据 2.1.6 -->
                        <li class="item">
                          <input type="radio" name="menu_choice" id="NASA_DEM_30m"><label for="NASA_DEM_30m" class="toggle_label"><span class="toggle">NASA_DEM_30m</span></label>
                          <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="NASA_DEM_30m" onclick="toggleImageBorder(this,this.id)"/></a>
                          <a href="https://www.earthdata.nasa.gov/esds/competitive-programs/measures/nasadem" title="数据说明"  target="_blank"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                        </li>
                  </ul>
                </li>
                <!-- 高分辨率DEM数据 2.3 -->
                <li class="item">
                  <span class="toggle">高分辨率DEM数据</span> 
                  <ul class="hidden">
                        <li class="item">

                        </li>
                              <li>
                                <span class="toggle">ALOS_DEM_12.5m</span> 
                                <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" class="icon-size" id="DEM_ALOS_12m" onclick="toggleImageBorder(this,this.id)"/></a>
                                <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" class="icon-size" href="#"/></a>
                                <ul class="hidden">
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_SH"><label for="DEM_ALOS_12m_SH" class="toggle_label"><span class="toggle">上海市</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_YN"><label for="DEM_ALOS_12m_YN" class="toggle_label"><span class="toggle">云南省</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_NMG"><label for="DEM_ALOS_12m_NMG" class="toggle_label"><span class="toggle">内蒙古</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_BJ"><label for="DEM_ALOS_12m_BJ" class="toggle_label"><span class="toggle">北京</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_TW"><label for="DEM_ALOS_12m_TW" class="toggle_label"><span class="toggle">台湾省</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_JL"><label for="DEM_ALOS_12m_JL" class="toggle_label"><span class="toggle">吉林省</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_SC"><label for="DEM_ALOS_12m_SC" class="toggle_label"><span class="toggle">四川省</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_TJ"><label for="DEM_ALOS_12m_TJ" class="toggle_label"><span class="toggle">天津市</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_NX"><label for="DEM_ALOS_12m_NX" class="toggle_label"><span class="toggle">宁夏</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_AH"><label for="DEM_ALOS_12m_AH" class="toggle_label"><span class="toggle">安徽</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_SD"><label for="DEM_ALOS_12m_SD" class="toggle_label"><span class="toggle">山东</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_SX"><label for="DEM_ALOS_12m_SX" class="toggle_label"><span class="toggle">山西省</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_GD"><label for="DEM_ALOS_12m_GD" class="toggle_label"><span class="toggle">广东</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_GX"><label for="DEM_ALOS_12m_GX" class="toggle_label"><span class="toggle">广西</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_XJ"><label for="DEM_ALOS_12m_XJ" class="toggle_label"><span class="toggle">新疆</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_JS"><label for="DEM_ALOS_12m_JS" class="toggle_label"><span class="toggle">江苏</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_JX"><label for="DEM_ALOS_12m_JX" class="toggle_label"><span class="toggle">江西</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_HEB"><label for="DEM_ALOS_12m_HEB" class="toggle_label"><span class="toggle">河北</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_HN"><label for="DEM_ALOS_12m_HN" class="toggle_label"><span class="toggle">河南</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_ZJ"><label for="DEM_ALOS_12m_ZJ" class="toggle_label"><span class="toggle">浙江</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_HAN"><label for="DEM_ALOS_12m_HAN" class="toggle_label"><span class="toggle">海南</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_HUB"><label for="DEM_ALOS_12m_HUB" class="toggle_label"><span class="toggle">湖北</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_HUN"><label for="DEM_ALOS_12m_HUN" class="toggle_label"><span class="toggle">湖南</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_AM"><label for="DEM_ALOS_12m_AM" class="toggle_label"><span class="toggle">澳门</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_GS"><label for="DEM_ALOS_12m_GS" class="toggle_label"><span class="toggle">甘肃</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_FJ"><label for="DEM_ALOS_12m_FJ" class="toggle_label"><span class="toggle">福建</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_XZ"><label for="DEM_ALOS_12m_XZ" class="toggle_label"><span class="toggle">西藏</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_GZ"><label for="DEM_ALOS_12m_GZ" class="toggle_label"><span class="toggle">贵州</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_LN"><label for="DEM_ALOS_12m_LN" class="toggle_label"><span class="toggle">辽宁</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_CQ"><label for="DEM_ALOS_12m_CQ" class="toggle_label"><span class="toggle">重庆</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_SXS"><label for="DEM_ALOS_12m_SXS" class="toggle_label"><span class="toggle">陕西</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_QH"><label for="DEM_ALOS_12m_QH" class="toggle_label"><span class="toggle">青海</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_XG"><label for="DEM_ALOS_12m_XG" class="toggle_label"><span class="toggle">香港</span></label>
                                  </li>
                                  <li class="item">
                                    <input type="radio" name="menu_choice" id="DEM_ALOS_12m_HLJ"><label for="DEM_ALOS_12m_HLJ" class="toggle_label"><span class="toggle">黑龙江</span></label>
                                  </li>

                                </ul>
                              </li>
                            </ul>
                          </li>
                </ul>
            </li>
          </ul>
        </div>
        <!-- 矢量选择 -->
        <h3>位置选择:</h3>
        
        <div id="selector-container" style="display: flex;">
            <select id="data_type_select"  onchange="handleSelectChange()">
                <option value="type1">按行政区划</option>
                <option value="type2">本地上传</option>
                <option value="type3">在线勾画</option>
            </select>
            <!-- 省级、地级、县级选择框，默认不显示 -->
            <div id="administrative-select-container" style="display: none;">
                <label>请选择省级：
                    <select id="province_select">
                        <!-- 省级选项 -->
                    </select>
                </label>
                <label>请选择地级：
                    <select id="city_select">
                        <!-- 地级选项 -->
                    </select>
                </label>
                <label>请选择县级：
                    <select id="county_select">
                        <!-- 县级选项 -->
                    </select>
                </label>
                <label>请选择乡级：
                    <select id="xiang_select">
                        <!-- 乡级选项 -->
                    </select>
                </label>
            </div>
            <!-- 用于上传文件的 div 框 -->
            <div id="file-upload-container" >
                <span>请上传矢量文件（支持上传shp、geojson和kml格式）</span>
            </div>

            <!-- 在线画矢量的框 -->
            <div id="drawIcons" style="display: none;">
                <span>矩形</span>
                <img id="drawIcon_rect" src="/img/rect.png" style="cursor: pointer;" onclick="drawRectangle()" />
                
                <span>多边形</span>
                <img id="drawIcon_polygon" src="/img/polygon.png" style="cursor: pointer;" onclick="drawPolygon()" />
                
                <span>圆</span>
                <img id="drawIcon_circle" src="/img/circle.png" style="cursor: pointer;" onclick="drawCircle()" />
            </div>
        </div>
        <h3>查询数据</h3>
        <div class="button-container">
          <button id="download-button"  onclick="publish_Raster()">下载</button>
        </div>

        <div id="DOWNLOAD_DIV" style="display: none;">
          <h3>数据裁剪完毕，请下载:</h3>
          <button onclick="Download_Clip_raster()">下载</button>

        </div>
    </div>
    <div id="right_DIV">
        <div id="mapContainer" style="flex: 1; position: relative; z-index: 1000;">
            <!-- 加载界面 -->
            <div id="loading">
              <div class="loader"></div>
            </div>
            <!-- 地图图层切换的下拉框，悬浮在左下角 -->
            <div style="position: absolute; bottom: 10px; right: 10px; z-index: 1000;">
                <label for="mapLayer">底图:</label>
                <select id="mapLayer" onchange="switchMapLayer()">
                    <option value="star_map">星图地球</option>
                    <option value="satellite" selected>高德遥感卫星</option>
                    <option value="satellite_road">高德卫星和路网</option>
                    <option value="basic">高德标准图层</option>
                </select>
            </div>                
        </div>
    </div>
</div>


<!-- 底图加载 -->
<script src="/js/BaseMap.js"></script>
<!-- 显示面矢量 -->
<script src="/js/add_vector2map.js"></script>
<!-- 地区选择省市县 -->
<script src="/js/select_shengshixian.js"></script>
<!-- 在地图上绘制图形 -->
<script src="/js/drawingTool.js"></script>
<!-- 上传裁剪矢量函数 -->
<script src="/js/file_upload.js"></script>
<!-- 裁剪与发布栅格数据 -->
<script src="/js/publish_raster.js"></script>
<!-- 下载裁剪后的栅格函数 -->
<script src="/js/download_clipdata.js"></script>
<!-- 引入二三级菜单的折叠脚本js -->
<script src="/js/Menu_Fold_loadwmts.js"></script>
<!-- 单选数据的控制 -->
<script src="/js/Single_choice_data.js"></script>
<!-- casdoor注册登录控制 -->
<script src="/js/Casdoor_Login.js"></script>
<!-- 面积计算函数 -->
<script src="/js/CalArea.js"></script>
<!-- 时间重命名文件函数 -->
<script src="/js/RenameFilebyTime.js"></script>
<!-- 数据大小计算函数 -->
<script src="/js/CalStorage.js"></script>
<script>
</script>
</body>
</html>
