<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>遥感产品数据云</title>
<link rel="stylesheet" href="/css/styles.css">
<script src="https://webapi.amap.com/maps?v=1.4.15&key=b6ba147ffd1e49158d12f7cb16d0f381"></script>
<!-- 引入二三级菜单的折叠脚本js -->
<script src="/js/Menu_Fold.js"></script>
<!-- 单选数据的控制 -->
<script src="/js/Single_choice_data.js"></script>

</head>
<body>

<div id="top_DIV">
    <div class="logo"><img src="/img/logo.png" alt="Logo"></div>
    <div class="title-container">
        <h1>遥感产品数据云</h1>
    </div>
    <div class="top_DIV_nav">
        <a href="#">注册/登录</a>
    </div>

</div>

<div class="clearfix" id="container">
    <div id="left_DIV">
        <!-- 左侧边栏内容，比如链接或菜单项 -->
        <h3>数据选择</h3>
        <!-- 在左侧边栏内容下添加二级菜单的控制 -->
        <!-- 数据列表 -->
        <ul class="menu">
            <!-- 在土地覆盖数据下添加一个新的二级菜单 -->
        <li class="menu-item">
            <a href="#0" class="menu-toggle">土地覆盖数据</a>
            <!-- 新添加的二级菜单 -->
            <ul class="submenu">
                <li>
                    <a href="#0" class="menu-toggle">10米分辨率</a>
                    <!-- 原有的三级菜单 -->
                    <ul class="submenu">
                        <li>
                            <input type="radio" name="menu_choice" id="esa_choice"><label for="esa_choice">ESA</label>
                            <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" /></a>
                            <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" /></a>
                        </li>
                        <!-- 其他三级菜单项 -->
                    </ul>
                </li>
                <li>
                    <a href="#0" class="menu-toggle">10米分辨率</a>
                    <!-- 原有的三级菜单 -->
                    <ul class="submenu">
                        <li>
                            <input type="radio" name="menu_choice" id="esa_choice"><label for="esa_choice">ESA</label>
                            <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" /></a>
                            <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" /></a>
                        </li>
                        <li>
                            <input type="radio" name="menu_choice" id="glc30_choice"><label for="glc30_choice">GLC30</label>
                            <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" /></a>
                            <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" /></a>
                        </li>
                        <!-- 其他三级菜单项 -->
                    </ul>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#0" class="menu-toggle">土地覆盖数据</a>
            <!-- 新添加的二级菜单 -->
            <ul class="submenu">
                <li>
                    <a href="#0" class="menu-toggle">10米分辨率</a>
                    <!-- 原有的三级菜单 -->
                    <ul class="submenu">
                        <li>
                            <input type="radio" name="menu_choice" id="esa_choice"><label for="esa_choice">ESA</label>
                            <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" /></a>
                            <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" /></a>
                        </li>
                        <li>
                            <input type="radio" name="menu_choice" id="glc30_choice"><label for="glc30_choice">GLC30</label>
                            <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" /></a>
                            <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" /></a>
                        </li>
                        <!-- 其他三级菜单项 -->
                    </ul>
                </li>
                <li>
                    <a href="#0" class="menu-toggle">10米分辨率</a>
                    <!-- 原有的三级菜单 -->
                    <ul class="submenu">
                        <li>
                            <input type="radio" name="menu_choice" id="esa_choice"><label for="esa_choice">ESA</label>
                            <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" /></a>
                            <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" /></a>
                        </li>
                        <li>
                            <input type="radio" name="menu_choice" id="glc30_choice"><label for="glc30_choice">GLC30</label>
                            <a href="#" title="数据预览"><img src="/img/tosee.png" alt="Icon 2" /></a>
                            <a href="#" title="数据说明"><img src="/img/quo.png" alt="Icon 1" /></a>
                        </li>
                        <!-- 其他三级菜单项 -->
                    </ul>
                </li>
            </ul>
        </li>

        </ul>
        <!-- 年份选择 -->
        <h3>时间选择:</h3>
        <select id="year_select">
            <option value="2023">2023年</option>
            <option value="2022">2022年</option>
            <!-- 更多年份选项 -->
        </select>
        <!-- 矢量选择 -->
        <h3>位置选择:</h3>
        <div id="selector-container" style="display: flex;">
            <select id="data_type_select"  onchange="handleSelectChange()">
                <option value="type1">按行政区划</option>
                <option value="type2">本地上传</option>
                <option value="type3">在线勾画</option>
            </select>
            <!-- 省级、地级、县级选择框，默认不显示 -->
            <div id="administrative-select-container" style="display: none;">
                <label>请选择省级：
                    <select id="province_select">
                        <!-- 省级选项 -->
                    </select>
                </label>
                <label>请选择地级：
                    <select id="city_select">
                        <!-- 地级选项 -->
                    </select>
                </label>
                <label>请选择县级：
                    <select id="county_select">
                        <!-- 县级选项 -->
                    </select>
                </label>
                <label>请选择乡级：
                    <select id="xiang_select">
                        <!-- 乡级选项 -->
                    </select>
                </label>
            </div>
            <!-- 用于上传文件的 div 框 -->
            <div id="file-upload-container" >
                <span>请上传矢量文件（支持上传shp、geojson和kml格式）</span>
            </div>

            <!-- 在线画矢量的框 -->
            <div id="drawIcons" style="display: none;">
                <span>矩形</span>
                <img id="drawIcon_rect" src="/img/rect.png" style="cursor: pointer;" onclick="drawRectangle()" />
                
                <span>多边形</span>
                <img id="drawIcon_polygon" src="/img/polygon.png" style="cursor: pointer;" onclick="drawPolygon()" />
                
                <span>圆</span>
                <img id="drawIcon_circle" src="/img/circle.png" style="cursor: pointer;" onclick="drawCircle()" />
            </div>
        </div>
    </div>
    <div id="right_DIV">
        <div id="mapContainer" style="flex: 1; position: relative; z-index: 1000;">
            <!-- 地图图层切换的下拉框，悬浮在左下角 -->
            <div style="position: absolute; bottom: 10px; right: 10px; z-index: 1000;">
                <label for="mapLayer">底图:</label>
                <select id="mapLayer" onchange="switchMapLayer()">
                    <option value="star_map">星图地球</option>
                    <option value="satellite" selected>高德遥感卫星</option>
                    <option value="satellite_road">高德卫星和路网</option>
                    <option value="basic">高德标准图层</option>
                </select>
            </div>                
        </div>
    </div>
</div>
<!-- 底图加载 -->
<script src="/js/BaseMap.js"></script>
<!-- 显示面矢量 -->
<script src="/js/add_vector2map.js"></script>
<!-- 地区选择省市县 -->
<script src="/js/select_shengshixian.js"></script>
<!-- 在地图上绘制图形 -->
<script src="/js/drawingTool.js"></script>
<!-- 上传裁剪矢量函数 -->
<script src="/js/file_upload.js"></script>
<script>
</script>
</body>
</html>
