<!DOCTYPE html>
<html>
<head>
    <title>加载高德地图</title>
    <style>
        #container {
            width: 600px;
            height: 400px;
        }
    </style>
</head>
<body>

<div id="container"></div>

<script src="https://webapi.amap.com/maps?v=1.4.15&key=b6ba147ffd1e49158d12f7cb16d0f381"></script>
<script>
    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom: 11, // 初始缩放级别
        center: [116.397428, 39.90923] // 初始中心点坐标
    });
</script>

</body>
</html>
