<!-- 网站使用须知 -->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>遥感产品数据云网站</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif; /* 使用现代字体 */
            background: #f0f0f0; /* 轻微的背景色 */
            padding: 20px;
            line-height: 1.6; /* 增加默认的行间距 */
        }

        .usage-notice {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影以增强层次感 */
        }

        h2, .sub-heading {
            color: #333;
            line-height: 1.4; /* 为标题增加行间距 */
        }


        /* 移除有序列表数字 */
        ol {
            list-style: none; /* 移除默认的列表样式 */
            padding: 0;
        }

        ol li {
            margin-bottom: 10px;
            padding-left: 20px; /* 添加一些内边距 */
        }

        /* 移除有序列表前的计数器 */
        ol li:before {
            content: none;
        }

        /* 添加二级标题样式 */
        .sub-heading {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            transition: background-color 0.4s, box-shadow 0.4s; /* 平滑过渡效果 */
            cursor: pointer;
            border-radius: 5px; /* 圆角按钮 */
            display: block; /* 居中按钮 */
            margin-left: auto;
            margin-right: auto;
        }

        button:hover {
            background-color: #45a049; /* 悬停时更改背景色 */
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 悬停时添加阴影 */
        }
        p, ul, li { /* 为段落和列表项增加行间距 */
            line-height: 1.6;
        }
        table {
        width: 100%; /* 表格宽度占满容器宽度 */
        border-collapse: collapse; /* 边框合并 */
        margin-top: 20px; /* 表格上方留出一些空间 */
        }

        th, td {
            border: 1px solid #ddd; /* 单元格边框 */
            text-align: left; /* 文本对齐方式 */
            padding: 8px; /* 单元格内边距 */
        }

        th {
            background-color: #f2f2f2; /* 表头背景色 */
            color: #333; /* 表头文字颜色 */
        }

        tr:nth-child(even) {
            background-color: #f9f9f9; /* 间隔行的背景色 */
        }

        tr:hover {
            background-color: #eaeaea; /* 鼠标悬浮时的行背景色 */
        }
        .image-container {
            display: flex;
            justify-content: space-around;
        }
        .image-container2 {
            display: flex;
            justify-content: space-around;
        }

        /* 设置图片样式 */
        .image-container img {
            width: 250px;
            height: 300px;
        }
        /* 设置图片样式 */
        .image-container2 img {
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>
    <div class="usage-notice">
        <h2 style="text-align: center;">网站使用须知</h2>
        <p>欢迎您访问遥感产品数据云网站（www.landcover100.com）。我们的网站旨在为遥感行业用户提供方便快捷的遥感产品下载服务，以支持您的研究和工作。为了确保顺畅的使用体验和数据的合理使用，我们制定了以下使用须知，请仔细阅读并遵守这些规定：</p>
       
        <div class="sub-heading">1. 登录要求</div>
        <ul>
            <li>网站上的数据下载功能不需要用户登录。如果有需要，也可注册并登录您的账户。</li>
            <li>每位用户每天的下载次数限制为<strong>20次</strong>，这是为了防止滥用和保护服务器资源。请合理使用下载次数。</li>
        </ul>
    
        <div class="sub-heading">2. 下载限制</div>
        <ul>
            <li><strong>单次最大下载数据大小为100MB</strong>。如果您需要下载大型数据集，请将其分成多个小文件进行下载。</li>
            <li>本网站是一个<strong>非盈利网站</strong>，所提供的数据仅供个人学术研究和非商业用途。请不要将下载的数据用于商业目的。</li>
        </ul>
    
        <div class="sub-heading">3. 数据所有权</div>
        <ul>
            <li>所有下载的数据仍然<strong>归数据作者所有</strong>。请尊重数据的版权和使用规定，遵守数据提供者的条款和条件。</li>
        </ul>
    
        <div class="sub-heading">4. 下载流程</div>
        <ul>
            <li>选择您需要下载的数据，您可以进行数据图层的预览，以确保您选择了正确的数据。</li>
            <li>选择矢量区域，您可以在线勾画区域、上传本地的KML、GSON或SHP文件以确定感兴趣的区域。</li>
            <li>点击查询按钮，系统将检查数据大小是否超过100MB以及您是否已达到每日下载次数限制。</li>
            <li>如果数据满足下载条件，将会显示裁剪的遥感产品的预览链接以及下载链接。点击下载链接即可开始下载数据。</li>
        </ul>
    
        
        <div class="sub-heading">5. 数据侵权或问题反馈</div>
        <ul>
            <li>如果您认为网站上的数据侵犯了您的权益，请联系我们的微信账号：<strong>toseeplanet</strong>，我们将尽快处理并删除相关数据。</li>
            <li>如果您在使用网站过程中遇到任何问题或需要帮助，请同样随时联系我们的微信账号，我们会尽力提供支持和解决您的问题。</li>
            <div class="image-container2">
                <!-- 第一张图片 -->
                <img src="http://pics.landcover100.com/i/2023/12/17/657f085ecd4f4.jpg" alt="Image 1">
            </div>
        </ul>
        <div class="sub-heading">6. 赞助和支持</div>
        <ul>
            <li>如果您觉得我们的网站对您有所帮助，为您节省了下载数据的时间，您可以选择赞助我们，以支持网站的运行和维护。赞助金额是自愿的，不等同于收费，<strong>不赞助也不会影响您的使用体验</strong>。下面是赞助者名单，感谢！</li>
        </ul>
        <div class="sponsor-list">
            <table>
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>赞助金额</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>锐多宝</td>
                        <td>￥1261</td>
                        <td>网站花费费用(服务器、云硬盘、域名)</td>
                    </tr>
                    <tr>
                        <td>暂无</td>
                        <td>赞助金额</td>
                        <td>您的留言</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- 更多赞助者的信息 -->
                </tbody>
            </table>
        </div>
        <div class="image-container">
            <!-- 第一张图片 -->
            <img src="http://pics.landcover100.com/i/2023/12/17/657f073b21eb4.png" alt="Image 1">
        
            <!-- 第二张图片 -->
            <img src="http://pics.landcover100.com/i/2023/12/17/657f075151cb5.png" alt="Image 2">
        </div>
    </div>


    <button onclick="goBack()">返回下载</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>