/* 内联CSS样式，实际开发中应该使用外部CSS文件 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#left_DIV, #right_DIV {
    position: relative;
    top: 0; /* 这是top_DIV的高度，确保left_DIV和right_DIV从top_DIV的底部开始 */
    padding-top: 10px; /* 顶部的内边距，以免内容紧贴边缘 */
    box-sizing: border-box; /* 确保padding被包含在宽度计算中 */
}


#left_DIV {
    width: 30%;
    height: calc(100% - 45px); /* 减去顶部DIV的高度 */
    float: left;
    overflow: auto; /* 如果内容过多则显示滚动条 */
    background: #fff; /* 白色背景 */
}
#right_DIV {
    display: flex; /* 将这个DIV设置为flex容器 */
    flex-direction: column; /* 项目垂直排列 */
    width: 70%;
    height: 100%; /* 设置高度为100% */
    overflow: auto; /* 如果内容过多则显示滚动条 */
    background: #ffffff; 
}

/* 清除浮动效果 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#top_DIV {
    width: 100%;
    height: 45px; /* 假设top_DIV的高度为60px */
    background: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#top_DIV .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: left;
    padding-left: 10px; /* 或者根据实际情况调整 */
}

#top_DIV .logo img {
    height: 80%; /* Logo的大小可以根据需求调整 */
}

#top_DIV .title-container {
    text-align: center;
}

#top_DIV h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5em; /* 根据实际需要调整大小 */
}

#top_DIV h2 {
    margin: 0;
    padding: 0;
    font-size: 1em; /* 根据实际需要调整大小 */
    color: #6c757d; /* 副标题颜色调整，可以根据需要改变 */
}

#top_DIV .top_DIV_nav {
    right: 0;
    top: 10px; /* 更正为添加px单位 */
    position: absolute;
    margin: 0;
    padding: 0;
    align-items: right; /* 更正为正确的CSS属性值，如 flex-end */
    font-size: 1em; /* 根据实际需要调整大小 */
    color: #6c757d; /* 副标题颜色调整，可以根据需要改变 */
}

label {
    display: block;
    margin-top: 10px;
}

/* 地图容器 */
#mapContainer {
    flex: 1; /* 这样就会填充所有可用空间 */
    position: relative;
    z-index: 1000;
}

#container {
    display: flex;
    height: calc(100% - 45px); /* 减去顶部div的高度 */
}

/* 上传文件的框 */
#file-upload-container {
    display: none; 
    border: 2px dashed #aaa; 
    background-color: #f0f0f0; 
    text-align: center; 
    padding: 20px; 
    margin-top: 10px; 
    cursor: pointer;
    /* 添加一些hover效果，让用户知道可以点击 */
    transition: background-color 0.2s;
}

#file-upload-container:hover {
    background-color: #e0e0e0;
}

.selected-icon {
    border: 2px solid red;
}


.directory-tree ul {
    list-style-type: none;
  }
  .directory-tree li {
    margin: 5px 0;
    position: relative;
  }
  .directory-tree .item:before, .directory-tree .toggle:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 1px;
    background: #ccc;
  }
  .directory-tree .item:after, .directory-tree .toggle:after {
    content: '';
    position: absolute;
    top: 7px;
    left: -10px;
    width: 9px;
    height: 1px;
    background: #ccc;
  }
  .toggle {
    cursor: pointer;
    display: inline;
  }
  .toggle_label  {
    display: inline;
  }
  .toggle:hover {
    color: blue; /* Change color to blue when hovering */
  }
  .hidden {
    display: none;
  }
  .icon-size {
  width: 22px;
  height: 18px;
  }
  .selected-img {
  border: 2px solid red;
}

/* 加载 */
/* 加载动画 */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* 半透明的白色背景 */
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }